body {
    background-color: #222629;
    /*background-image: url(images/background.png);*/
    background-position: right;
    background-position-y: 100px;
    background-repeat: no-repeat;

    font-family: 'Encode Sans', sans-serif;
    font-size: 20px;
    width: 1280px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    color: #ffde00;
}

.logo {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
    -webkit-filter: drop-shadow(5px 5px 5px #141516);
    filter: drop-shadow(5px 5px 5px #141516);

}

.btn {
    background-color:#ffde00;
    border-color:#ffde00;
    color:#222629;
    border-radius: 3;
    align-self: center;
    margin-top: 90px;
    margin-left: 5px;
    -webkit-filter: drop-shadow(5px 5px 5px #141516);
    filter: drop-shadow(5px 5px 5px #141516);
}

h1 {
    text-align: left;
    margin-top: 60px;
    margin-left: 10px;
    color: #ffde00;
    font-size: 90px;
    text-shadow: (5px 5px 5px #141516);
    filter: drop-shadow(5px 5px 5px #141516);
}

h2 {

    font-family:Edwardian Script ITC;
    font-size: 65px;
    text-align: left;
    margin-bottom: 20px;
    text-shadow: (5px 5px 5px #141516);
    filter: drop-shadow(5px 5px 5px #141516);

}


.home {
    width: 60px;
    margin-top: 90px;
    -webkit-filter: drop-shadow(5px 5px 5px #141516);
    filter: drop-shadow(5px 5px 5px #141516);
}

.imgview{transform: scale(1);}
.imgview :hover {
    transform: scale(1.05);
}

.left {
    text-align: left;
}



.row2 {
    width: 1000px;

}

.row3 a:link { /*Breakfast, lunch, Dinner font color */
    color:#ffde00;
    text-decoration: none;
}

a:link { /*Tel number color */
    color:#222629;
}

.row3 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}
.card1 {
    -webkit-filter: drop-shadow(5px 5px 5px #141516);
    filter: drop-shadow(5px 5px 5px #141516);
}
.card2 {
    -webkit-filter: drop-shadow(5px 5px 5px #141516);
    filter: drop-shadow(5px 5px 5px #141516);
}
.card3 {
    -webkit-filter: drop-shadow(5px 5px 5px #141516);
    filter: drop-shadow(5px 5px 5px #141516);
}

.card1 :hover{
    transform: scale(1.1);
}
.card2 :hover{
    transform: scale(1.1);
}
.card3 :hover{
    transform: scale(1.1);
}

a{text-decoration: none;}
a:hover {
    text-decoration: underline;
    color: #ffde00;
  }



.footer-box{
    display: flex;
    background-color: #ffde00;
    justify-content: space-between;
    color: #222629;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;

}









@media (max-width: 1280px) {
    .wrapper{width: 95%;}

body {
    display: block;
    height : auto;
    width: 100%;
    /*width: fit-content;*/
    /*margin: 5%;*/
    background-image: none;
}

.logo {
    width: 100%;
    width: fit-content;
}


/*h1 {
    font-size:xx-large;
}

h2 {
    text-align: center;
}*/



.footer-box {
    display: block;
    justify-content: center;
    padding: 20px;
    font-size:medium;

}

}

@media (max-width: 450px) {
    .wrapper{width: 95% ;}

    body {
        display: block;
        height : auto;
        width: 50%;
        width: fit-content;
       /* margin: 5%;*/
        background-image: none;
    }
    
    .logo {
        width: 100%;
        width: fit-content;
    }
    
    /*.wrapper {
        display: block;
        width : 50%;
    }*/
    
    /*h1 {
        font-size:xx-large;
    }
    
    h2 {
        text-align: center;
    }*/
    
    
    
    .footer-box {
        display: block;
        justify-content: center;
        padding-top: 20px;
        font-size:medium;
    
    }
    
    }